---
layout: default
---

<h1>{{ page.title }}</h1>
<p>Author: {{ page.author }} ~ Published: {{ page.published | date_to_long_string }} ~ Updated: {{ page.updated | date_to_long_string }}</p>

{{content}}

{% if page.collection %}
{% assign links = site[page.collection] | sort:"weight"  %}
{% endif %}

{% for link in links %}
{% if link.title == page.title %}
{% unless forloop.first %}
{% assign prev = tmpprev %}
{% endunless %}
{% unless forloop.last %}
{% assign next = links[forloop.index] %}
{% endunless %}
{% endif %}
{% assign tmpprev = link %}
{% endfor %}

<p>
    {% if prev %}
        Previous step: <a href="{{site.baseurl}}{{ prev.url}}">{{ prev.title }}</a>
    {% endif %}
    {% if next %}
        Next step: <a href="{{site.baseurl}}{{ next.url}}">{{ next.title }}</a>
    {% endif %}
</p>
